.shape .shape__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
.shape .shape__space {
  width: 100%;
  height: 100%;
  background-color: black;
  border-style: solid;
  border-width: 0;
  border-color: transparent; }

.shape--blue .shape__space {
  background-color: #3498db;
  border-bottom-color: #3498db; }

.shape--red .shape__space {
  background-color: #e74c3c;
  border-bottom-color: #e74c3c; }

.shape--orange .shape__space {
  background-color: #f39c12;
  border-bottom-color: #f39c12; }

.shape--green .shape__space {
  background-color: #2ecc71;
  border-bottom-color: #2ecc71; }

.shape--circle .shape__space {
  border-radius: 50%; }

.shape--diamond .shape__space {
  -webkit-transform: rotate(45deg) scale(0.70711);
  transform: rotate(45deg) scale(0.70711); }

.shape--triangle .shape__space {
  height: 0;
  width: 0;
  border-width: 0 83px 166px 83px;
  background-color: transparent; }

body::before {
  content: 'Default - 940px';
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: rgba(119, 204, 102, 0.6);
  -webkit-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease; }

@media (min-width: 1200px) {
  body::before {
    content: 'Large Desktop - 1200px+';
    background-color: rgba(204, 119, 102, 0.6); } }
@media (min-width: 768px) and (max-width: 979px) {
  body::before {
    content: 'Portrait tablet to landscape and desktop - > 768px && < 979px';
    background-color: rgba(204, 187, 102, 0.6); } }
@media (max-width: 767px) {
  body::before {
    content: 'Phones to Tablets - < 767px';
    background-color: rgba(102, 153, 204, 0.6); } }
@media (max-width: 480px) {
  body::before {
    content: 'Phones - < 480px';
    background-color: rgba(204, 102, 204, 0.6); } }
