/*=============================================*\
 Some styles to show off masonry layout
\*=============================================*/
.picture-item {
  height: 210px;
  margin-top: 24px;
  overflow: hidden; }
  .picture-item.picture-item--h2 {
    height: 420px; }

.item.w2.h2 img {
  width: 100%;
  height: auto; }
