/*=============================================*\
 Some styles to show off masonry layout
\*=============================================*/
.picture-item {
  height: 220px;
  margin-top: 24px;
  overflow: hidden;
  background: #ecf0f1;
}
.picture-item.shuffle-item {
  margin-left: 0;
  /* shuffle items shouldn't have a left margin*/
}
.picture-item.picture-item--h2 {
  height: 464px;
  /* 2x the height + 1 gutter */
}
.picture-item.span6:not(.picture-item--h2) .picture-item__details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.picture-item.span6:not(.picture-item--h2) .picture-item__description {
  display: none;
}
.picture-item img {
  display: block;
  width: 100%;
  height: auto;
}
.picture-item .picture-item__details,
.picture-item .picture-item__description {
  padding: 1em;
}
.picture-item .picture-item__description {
  margin: 0;
  padding-top: 0;
  padding-right: 2em;
}
.picture-item .picture-item__tags {
  margin: 0;
}

/*
  Shuffle needs either relative or absolute positioning on the container
  It will set it for you, but it'll cause another style recalculation and layout.
  AKA worse performance - so just set it here
 */
.shuffle--container {
  position: relative;
}

.shuffle--fluid .shuffle__sizer {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 47.9375em) {
  .picture-item {
    height: auto;
    margin-top: 20px;
  }
  .picture-item.picture-item--h2 {
    height: auto;
  }
  .picture-item .picture-item__details,
  .picture-item .picture-item__description {
    font-size: .875em;
    padding: .625em;
  }
  .picture-item .picture-item__description {
    padding-right: .875em;
    padding-bottom: 1.25em;
  }

  .filter > .row-fluid,
  .filter > .row-fluid > div {
    margin: 10px 0;
  }

  .m-nofloat {
    float: none;
  }
}
