.textfield {
  -webkit-appearance: searchfield;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid $gray40;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1.125em;
  color: $gray40;
  transition: .15s;

  &::placeholder {
    color: $gray40;
    transition: .15s;
  }

  &:hover {
    outline: 0;
    color: $gray30;
    border-color: $gray30;

    &::placeholder {
      color: $gray30;
    }
  }

  &:focus {
    outline: 0;
    color: $nephritis;
    border-color: $nephritis;

    &::placeholder {
      color: $nephritis;
    }
  }
}
