*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  overflow: hidden;
}

pre.max-height {
  max-height: 30em;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

ul ul {
  padding-left: 1.25em;
  margin: 0;
  list-style-type: circle;
}

li {
  line-height: 1.4;
}

li + li {
  margin-top: 4px;
}

nav > a {
  display: block;
  margin: 5px 0;
}

#demos {
  margin-top: 1em;
}
