node_modules
coverage
test/types/build
.DS_Store
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.scssc
*.esm.js
*.esm.js.map

# https://github.com/sindresorhus/ama/issues/479#issuecomment-310661514
package-lock.json
yarn.lock
