node_modules
bower_components
coverage
.DS_Store
_site
.sass-cache
.jekyll-metadata
*.scssc
temp
*.map

**/.*
**/_*
css
img
js
Gruntfile.js
gulpfile.js
favicon.png
index.html
package.json
robots.txt
test
tests
CONTRIBUTING.md
webpack.config.js
webpack.config.min.js
