#grid {
    position: relative;
    
     -moz-transition: height 0.8s ease-out;
       -o-transition: height 0.8s ease-out;
  -webkit-transition: height 0.8s ease-out;
      -ms-transition: height 0.8s ease-out;
          transition: height 0.8s ease-out;
}

#grid .item {
    position: relative;
    
     -moz-transition: -moz-transform 0.8s ease-out, opacity 0.8s ease-out;
       -o-transition: -o-transform 0.8s ease-out, opacity 0.8s ease-out;
  -webkit-transition: -webkit-transform 0.8s ease-out, opacity 0.8s ease-out;
      -ms-transition: -ms-transform 0.8s ease-out, opacity 0.8s ease-out;
          transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

#grid .item.filtered {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

#grid .item.concealed {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#grid .item:nth-child(4n) {
    margin-right: 0;
}

