
// Filters
.filter-label {
  display: block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 4px;
  color: $gray60;
}

.filters-group {
  padding: 0;
  margin: 0 0 4px;
  border: 0;
}

@include breakpoint(sm) {
  .filters-group-wrap {
    display: flex;
    justify-content: space-between;
  }
}
