
<nav class="site-nav collapsed" id="nav" role="primary">

  <div class="js-tray site-nav__tray light-text-dark-box">
    <div class="container-fluid site-nav__tray-inner">

      <h3 class="site-nav__title">Shuffle.js</h3>
      <div class="row-fluid">
        <div class="span3">
          <a class="btn btn--primary" href="{{ site.url }}/">Home</a>
        </div>
        <div class="span3">
          <a class="btn btn--primary" href="https://github.com/Vestride/Shuffle">GitHub Repo</a>
        </div>
        <div class="span3">
          <a class="btn btn--primary" href="https://twitter.com/Vestride">By @Vestride</a>
        </div>
        <div class="span3">
          <a class="btn btn--primary" href="{{ site.url }}/faq">FAQ</a>
        </div>
      </div>

      <h3 class="site-nav__title">Demos</h3>
      <div class="row-fluid m-row js-demos site-nav__demos">
        {% for post in site.demos %}
          <div class="span3 m-span3 figure-wrap js-demo">
            <a href="{{ site.url }}/{{ post.slug }}">
              <figure>
                <div class="keep-ratio four-three">
                  <img src="{{ site.url }}/img/demos/{{ post.slug }}.webp" alt="{{ post.label }}" />
                </div>
                <figcaption>{{ post.label }}</figcaption>
              </figure>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="site-nav__band">
    <div class="container-fluid">
      <button class="js-nav-toggle pull-right" data-close-label="Close Nav">Open Nav</button>
    </div>
  </div>
</nav>