
<nav class="site-nav collapsed" id="nav" role="primary">

  <div class="js-tray site-nav__tray light-text-dark-box">
    <div class="container site-nav__tray-inner">

      <div class="row">
        <div class="col-12@sm">
          <h3 class="site-nav__title site-nav__title--first">Shuffle.js</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-3@sm">
          <a class="btn btn--primary" href="{{ site.baseurl }}/">Home</a>
        </div>
        <div class="col-3@sm">
          <a class="btn btn--primary" href="https://github.com/Vestride/Shuffle">GitHub Repo</a>
        </div>
        <div class="col-3@sm">
          <a class="btn btn--primary" href="https://twitter.com/Vestride">By @Vestride</a>
        </div>
        <div class="col-3@sm">
          <a class="btn btn--primary" href="{{ site.baseurl }}/faq">FAQ</a>
        </div>
      </div>

      <div class="row">
        <div class="col-12@sm">
          <h3 class="site-nav__title">Demos</h3>
        </div>
      </div>
      {% include demo-list.html %}
    </div>
  </div>

  <div class="site-nav__band">
    <div class="container">
      <div class="row">
        <div class="col-12@sm">
          <button class="js-nav-toggle pull-right" data-close-label="Close Menu">Open Menu</button>
        </div>
      </div>
    </div>
  </div>
</nav>
