<h2>Public Methods<a href="#adding-removing"></a></h2>
<p>A list of the methods available to you and what they do.</p>

<ul class="breathable-list">
  <li><code>shuffle</code> - Filters all the shuffle items.</li>
  <li><code>sort</code> - Sorts the currently filtered shuffle items.</li>
  <li><code>update</code> - Repositions everything. Useful for when dimensions (like the window size) change.</li>
  <li><code>layout</code> - Use this instead of <code>update()</code> if you don't need the columns and gutters updated. Maybe an image loaded and now has a height.</li>
  <li><code>appended</code> - New items have been appended to the shuffle container.</li>
  <li><code>disable</code> - Disables Shuffle from updating dimensions and layout on resize.</li>
  <li><code>enable</code> - Enables Shuffle again.</li>
  <li><code>remove</code> - Remove one or more shuffle items.</li>
  <li><code>destroy</code> - Destroys Shuffle, removes events, styles, classes, and references.</li>
</ul>
