<!--[if lt IE 9]>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<!--<![endif]-->

<!-- Shuffle! -->
<script src="{{ site.baseurl }}/jquery.shuffle.js"></script>

{% if page.prism %}
<!-- Syntax highlighting via Prism -->
<script src="{{ site.baseurl }}/js/prism.js"></script>
{% endif %}

<script>var site_url = "{{ site.baseurl }}";</script>
<script src="{{ site.baseurl }}/js/page.js"></script>

{% if page.extraJS && page.extraJS.length %}
{% for src in page.extraJS %}
<script src="{{ site.baseurl }}/js/{{ src }}"></script>
{% endfor %}
{% endif %}

{% if site.environment == "production" %}
<script>
// Analytics
var _gaq = [ ['_setAccount', 'UA-39355642-1'], ['_trackPageview'] ];

(function(doc, script) {
  'use strict';

  var js,
      fjs = doc.scripts[0],
      frag = doc.createDocumentFragment(),
      add = function(url, id) {
          if (doc.getElementById(id)) {return;}
          js = doc.createElement(script);
          js.src = url;
          if ( id ) { js.id = id; }
          frag.appendChild( js );
      };

    // Load GA over http, we know it won't be over ssl
    add('//www.google-analytics.com/ga.js');

    fjs.parentNode.insertBefore(frag, fjs);

}(document, 'script'));
</script>
{% endif %}