{% if page.jquery != false %}
<!--[if lt IE 9]>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<!--<![endif]-->
{% endif %}

{% if page.shuffle != false %}
<!-- Shuffle! -->
<script src="{{ site.baseurl }}/dist/jquery.shuffle.js"></script>
{% endif %}

{% if page.prism %}
<!-- Syntax highlighting via Prism -->
<script src="{{ site.baseurl }}/js/prism.js"></script>
{% endif %}

<script>var site_url = "{{ site.baseurl }}";</script>
{% if page.pagejs != false %}
<script src="{{ site.baseurl }}/js/page.js"></script>
<script src="{{ site.baseurl }}/js/evenheights.js"></script>
{% endif %}

{% if page.extraJS && page.extraJS.length %}
{% for src in page.extraJS %}
<script src="{{ site.baseurl }}/js/{{ src }}"></script>
{% endfor %}
{% endif %}

{% if site.environment == "production" %}
<script>(function(G,o,O,g,l){G.GoogleAnalyticsObject=O;G[O]||(G[O]=function(){(G[O].q=G[O].q||[]).push(arguments)});G[O].l=+new Date;g=o.createElement('script'),l=o.scripts[0];g.src='//www.google-analytics.com/analytics.js';l.parentNode.insertBefore(g,l)}(this,document,'ga'));ga('create','UA-39355642-1','vestride.github.io');ga('send','pageview')</script>
{% endif %}
