// FAQ

.search-section {
  margin-top: 1em;
  margin-bottom: 1em;
}

input.faq-search {
  -webkit-appearance: searchfield;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid $gray40;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1.125em;
  color: $gray40;
  transition: .15s;

  &::placeholder {
    color: $gray40;
    transition: .15s;
  }

  &:hover {
    outline: 0;
    color: $gray30;
    border-color: $gray30;

    &::placeholder {
      color: $gray30;
    }
  }

  &:focus {
    outline: 0;
    color: $nephritis;
    border-color: $nephritis;

    &::placeholder {
      color: $nephritis;
    }
  }
}


.question {
  margin: 2em 0;
  overflow: hidden;
  transition: .2s ease-out;
}

.question--collapsed {
  height: 0 !important; // Needs to override inline style
  margin: 0;
  border-width: 0;
}

.question--collapsed + .question  {
  margin-top: 0;
}

.question--unanswered {
  padding-top: 1.25em;
  border-top: 2px solid $emerald;
}

.question__title {
  margin-top: 0;
}

.question__answer {
  margin-bottom: 0;
}
