*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  overflow: hidden;
}

pre.max-height {
  max-height: 30em;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

ul ul {
  padding-left: 1.25em;
  margin: 0;
  list-style-type: circle;
}

li {
  line-height: 1.4;
}

nav > a {
  display: block;
  margin: 5px 0;
}

.breathable-list li {
  line-height: 1.7;
}

// Filters
.filter__label {
  margin: 0 0 3px;
}

.filter__search {
  margin: 5px 0;
}


.sort-options {
  margin-top: 10px;
}

#be-social {
  h2 {
    margin-bottom: 32px;
  }
}
