$breakpoints: (
  xs: 0px,
  sm: 768px,
  md: 1024px,
  lg: 1392px,
  xl: 1680px,
);

// Colors from Flat UI
$turqoise: #1abc9c;
$greenSea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$river: #3498db;
$belizeHole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$midnightBlue: #2c3e50;
$sunflower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

$black: #000;
$gray10: $midnightBlue;
$gray20: $wet-asphalt;
$gray30: #5d6d77;
$gray50: $asbestos;
$gray60: $concrete;
$gray80: $silver;
$gray90: #e1e5e6;
$gray95: $clouds;
$white: #fff;
