@import "variables";

pre {
  max-height: 30em;
}

img {
  max-width: 100%;
  height: auto;
}

/* lets have some constraints shall we */
.container-fluid {
  width: 93%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row.row--full {
  margin-left: 0;
}

ul ul {
  padding-left: 1.25em;
  margin: 0;
  list-style-type: circle;
}


.site-nav {

  .site-nav__tray {
    transition: .2s;
    overflow: hidden;
    height: 300px;
    background-color: $wetAsphalt;
  }

  &.collapsed .site-nav__tray {
    height: 0;
  }

  .figure-wrap:nth-child(4n + 1) {
    margin-left: 0;
  }

}

nav > a {
  display: block;
  margin: 5px 0;
}


// Filters
.filter__label {
  margin: 0 0 3px;
}

.filter__search {
  margin: 5px 0;
}


.sort-options {
  margin-top: 10px;
}






