/*=============================================*\
 Some styles to show off masonry layout
\*=============================================*/

$pictureGutter: 24px;
.picture-item {
  height: 210px;
  margin-top: $pictureGutter;
  overflow: hidden;

  &.shuffle-item {
    margin-left: 0; /* shuffle items shouldn't have a left margin*/
  }

  &.picture-item--h2 {
    height: 420px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .picture-item__details {

  }
  .picture-item__title {

  }
}

.shuffle--fluid .shuffle__sizer {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}